body {
    margin: 0;
    padding: 0;
    background: #BBDEFB;
    font-size: 1.2em;
    -webkit-user-select: none;
     -moz-user-select: -moz-none;
      -ms-user-select: none;
          user-select: none;
    font-weight: 400;
    font-family: 'Abel', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }
  
  .alert {
    border-radius: unset; }
  
  .badge {
    border-radius: unset !important; }
  
  .badge-pill {
    border-radius: 10rem !important; }
  
  .breadcrumb {
    border-radius: unset !important; }
  
  .btn-outline-primary {
    border: solid thin #007bff !important; }
  
  .btn-outline-secondary {
    border: solid thin #6c757d !important; }
  
  .btn-outline-warning {
    border: solid thin #ffc107 !important; }
  
  .btn-outline-info {
    border: solid thin #17a2b8 !important; }
  
  .btn-outline-danger {
    border: solid thin #dc3545 !important; }
  
  .btn-outline-dark {
    border: solid thin #343a40 !important; }
  
  .btn-outline-success {
    border: solid thin #28a745 !important; }
  
  .card {
    box-shadow: 0px 0px 2px 1px #8ec5f2;
    border-radius: unset;
    cursor: pointer; }
    .card img {
      border-radius: unset; }
  
  .card:hover {
    box-shadow: 0px 0px 18px 3px #8ec5f2; }
  
  body {
    background: #EBF3F3; }
  
  .search-form button {
    padding-bottom: 0.7rem !important;
    padding-top: 0.7rem !important; }
  
  .patient-item {
    width: 100%; }
    .patient-item .card-text, .patient-item .card-title {
      margin-bottom: 0.25rem; }
    .patient-item .card-body {
      padding: 0.25rem 0.75rem; }
  
  .text-align-center {
    text-align: center; }
  
  .modal-content {
    border-radius: unset !important; }
  
  .fit-2-input-fields .form-control {
    width: 50%; }
  
  .mastercard-forms label {
    margin-bottom: unset;
    font-size: 1rem; }
  
  .form-control {
    border-radius: unset; }
  
  .custom-file-inputs {
    color: transparent; }
  
  .custom-file-inputs::-webkit-file-upload-button {
    visibility: hidden; }
  
  .custom-file-inputs::before {
    content: 'Select some files';
    color: black;
    display: inline-block;
    background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 0;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt; }
  
  .custom-file-inputs:hover::before {
    border-color: black; }
  
  .custom-file-inputs:active {
    outline: 0; }
  
  .custom-file-inputs:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); }
  
  h5 {
    font-size: 1.3em; }
  
  .card, .btn {
    border-radius: unset; }
  
  .card {
    box-shadow: 0px 0px 2px 1px #8ec5f2;
    border-radius: unset;
    border: none;
    cursor: pointer; }
  
  .card:hover {
    box-shadow: 0px 0px 18px 3px #8ec5f2; }
  
  .clear-margin {
    margin: 10% auto; }
  
  .border-secondary {
    border-color: #6c757d; }
  
  .border-primary {
    border-color: #007bff; }

    .visit-table {
        font-size: 1rem;
    }
.visit-table td {
    padding: unset;
}

.visit-table th {
    padding: 0 10px;
}

.time-input {
  position: relative;
  width: 150px; height: 20px;
  color: white;
}

.time-input:before {
  position: absolute;
  top: 3px; left: 3px;
  content: attr(data-date);
  display: inline-block;
  color: black;
}

.time-input::-webkit-datetime-edit, input::-webkit-inner-spin-button, input::-webkit-clear-button {
  display: none;
}

.time-input::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 3px;
  right: 0;
  color: black;
  opacity: 1;
}

.tb-form {
  padding: unset !important;
  text-align: right;
}

td .selection {
  border-radius: unset !important;
  min-height: unset !important;
  border: 1px solid #ced4da !important;
}

.bg-default{
  background: #EBF3F3; }

.ui.selection.dropdown[data-v-3a0c7bea] {
  padding: 0.48571429em 2.1em 0.78571429em 1em !important;
}

.tab-pane {
  outline: 0 !important;
}

.nav-pills .nav-link {
  border-radius: unset !important
}

.nav-start, .nav-end{
  width: 20%;
}

.nav-end{
  text-align: right
}

.sidenav {
  height: 100%;
  width: 275px;
  position: fixed;
  z-index: 1021;
  top: 0;
  right: 0;
  background: #f8f9fa;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 60px;
  box-shadow: 0px 0px 2px 1px #8ec5f2; }

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #343a40;
  display: block;
  transition: 0.3s; }

.sidenav a:hover {
  font-weight: 600; }

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px; }

.custom-close-btn {
    position: absolute;
    right: 2em;
    top: 1.5em; }


.input-group-text {
  border-radius: unset !important
}

.is-not-saved {
  border-color: #dcae35;
  padding-right: calc(1.5em + 0.75rem);
  background-image: url("../svg/info-circle-solid.svg");
  background-repeat: no-repeat;
  background-position: center right calc(0.375em + 0.1875rem);
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.iziToast-overlay{
  z-index: 1045 !important
}

.iziToast-wrapper{
  z-index: 1050 !important
}

.sticky-top {
  z-index: 989 !important
}

.is-disabled-section{
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}

.is-invalid-custom{
  border-color: #dc3545 !important;
}
.is-invalid-custom:focus{
  box-shadow: 0 0 0 0.2rem #dc354573 !important                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           
}

.ui.selection.dropdown{
  border-radius: unset !important;
  min-height: unset !important;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
}

.no-padding{
 padding: unset !important
}

.reg-details {
  padding: 0.375rem 0.3rem !important
}

.logo-mca{
  max-width: 146px;
}
@media (max-width: 1367px){
  body{
    zoom: 0.8;
  }
  .ui.selection.dropdown[data-v-3a0c7bea] {
    padding: 0.68571429em 2.1em 0.78571429em 1em !important;
  }
}

@media print {
  html, body {
     display: none;  /* hide whole page */
  }
}